<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tabs/items"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title"> Detalles del Objeto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @let item = this.item();

  <div class="item-toolbar">
    <ion-popover
      trigger="click-trigger"
      triggerAction="click"
      class="popover"
      alignment="center"
      #popover
    >
      <ng-template>
        <ion-content class="popover-content">
          <div #popoverContent></div>
        </ion-content>
      </ng-template>
    </ion-popover>

    <div class="emoji-container" id="click-trigger">
      @let selectedEmojiUrl = this.selectedEmojiUrl();
      @if (selectedEmojiUrl !== null) {
        <img [ngSrc]="selectedEmojiUrl" width="55" height="55" alt="" priority />
      } @else {
        <img [ngSrc]="item.emojiUrl" width="55" height="55" alt="" priority />
      }
    </div>

    <input type="text" [value]="item.name" />

    <app-trip-button
      type="tertiary"
      [fill]="true"
      btnClass="flex center gap-2 small"
      [disabled]="true"
      (handleClick)="saveChanges()"
    >
      <lucide-icon [img]="saveIcon" size="20" />
      Guardar Cambios
    </app-trip-button>

    <div class="buttons-container">
      <app-trip-button type="secondary" btnClass="flex center gap-2 small" [disabled]="true">
        <lucide-icon [img]="shareIcon" size="20" />
        Compartir
      </app-trip-button>

      <app-trip-button type="danger" btnClass="flex center gap-2 small" [disabled]="true">
        <lucide-icon [img]="trashIcon" size="20" />
        Eliminar
      </app-trip-button>
    </div>
  </div>

  <div class="stats-container">
    <h4>Estadísticas</h4>

    @let itemStats = this.itemStats();

    <app-stat-card
      title="Posición en el ranking"
      description="El puesto del objeto por cantidad total llevada en los viajes de este año"
      [value]="itemStats.rankingPosition"
    />

    <app-stat-card
      title="Cantidad total"
      description="La cantidad total llevada en todos los viajes de este año"
      [value]="itemStats.totalQuantity"
    />

    <app-stat-card
      title="Frecuencia de uso"
      description="La frecuencia con la que usas el objeto en tus viajes"
      [value]="itemStats.usageFrequency"
    />

    <app-stat-card
      title="Cantidad perdida"
      description="La cantidad de unidades perdidas a lo largo de todos tus viajes"
      [value]="itemStats.lostQuantity"
    />
  </div>
</ion-content>
