h4 {
  font-size: 1.2rem;
  color: var(--ion-color-medium);
  margin-top: 1rem;
}

.toolbar {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  align-content: center;
  justify-items: center;
  gap: 16px;
  padding: 16px;

  app-item-card {
    width: fit-content;
  }

  app-item-card:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }
}
