<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="main-title">Tus objetos</h1>

  <div class="toolbar">
    <app-trip-button
      type="primary"
      [fill]="true"
      class="create-trip-button"
      btnClass="flex center gap-2 padding-s"
    >
      <lucide-icon [img]="Plus" />
      Crear nuevo
    </app-trip-button>
  </div>

  @if (usedItems.length > 0) {
    <div class="items-container">
      @for (item of usedItems; track item.id) {
        <app-item-card [item]="item" (handleClick)="openItemDetails($event)" />
      }
    </div>
  }

  @if (notUsedItems.length > 0) {
    <h4>No usados</h4>

    <div class="items-container">
      @for (item of notUsedItems; track item.id) {
        <app-item-card [item]="item" (handleClick)="openItemDetails($event)" />
      }
    </div>
  }
</ion-content>
