<div class="location-container">
  <div class="location-header">
    <p>{{ location.name }}</p>

    <div class="location-toolbar">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="location-separator"></div>

  <div class="location-items-carrousel">
    <div class="carrousel-items" [class.no-items]="items.length === 0">
      @for (itemWithQuantity of items; track itemWithQuantity.item.id) {
        <app-item-card [item]="itemWithQuantity.item" [quantity]="itemWithQuantity.quantity" />
      }

      @if (items.length === 0) {
        <div class="no-items-container">
          <lucide-icon [img]="shirtIcon" size="30" strokeWidth="1" class="no-items-icon" />
          <p class="no-items-text">No hay objetos en esta plantilla</p>
        </div>
      }
    </div>
    <div class="carrousel-shadow"></div>
  </div>
</div>
