<div class="location-container">
  <div class="location-header">
    <p>{{ location.name }}</p>

    <div class="location-toolbar">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="location-separator"></div>

  <div class="location-items-carrousel">
    <div class="carrousel-items">
      @for (itemWithQuantity of items; track itemWithQuantity.item.id) {
        <app-item-card [item]="itemWithQuantity.item" [quantity]="itemWithQuantity.quantity" />
      }
    </div>
    <div class="carrousel-shadow"></div>
  </div>
</div>
