<div class="main">
  <lucide-icon
    [img]="Briefcase"
    class="icon"
    [size]="60"
    [strokeWidth]="1"
    color="var(--ion-color-warning)"
  />

  <div class="texts">
    <h4 class="title">Aún no tienes Plantillas</h4>
    <p class="subtitle">Crea una plantilla para organizar mejor tus viajes.</p>
  </div>

  <div class="explanation-alert">
    <div class="explanation-header">
      <lucide-icon
        [img]="Info"
        class="info-icon"
        [size]="20"
        [strokeWidth]="1.5"
        color="var(--ion-color-secondary)"
      />
      <h5 class="explanation-title">¿Qué es una plantilla?</h5>
    </div>

    <div class="explanation-text">
      <p>
        Una plantilla te permite guardar una maleta con su contenido para reutilizarla en varios
        viajes. Es útil si sueles llevar siempre los mismos objetos.
      </p>

      <p>Al usar una plantilla, se crea una copia de la maleta para ese viaje.</p>

      <p>Puedes añadir o quitar artículos libremente sin modificar la plantilla original.</p>

      <p>Así ahorras tiempo y reduces el riesgo de olvidar algo importante.</p>
    </div>
  </div>
</div>
