<ion-content [fullscreen]="true" class="ion-padding">
  <div class="templates-header">
    <h1 class="main-title">Tus plantillas</h1>

    <app-trip-button
      type="primary"
      [fill]="true"
      class="create-trip-button"
      btnClass="flex center gap-2 padding-s"
      [routerLink]="['create']"
    >
      <lucide-icon [img]="Plus" />
      Crear nueva
    </app-trip-button>
  </div>

  <div class="templates-section">
    <ion-searchbar placeholder="Buscar plantillas..." [formControl]="searchControl" />

    <div class="templates-container">
      @for (template of filtratedTemplates; track template.id) {
        <app-location-items [location]="template" [items]="template.items">
          <app-trip-button
            type="tertiary"
            class="see-all-button"
            btnClass="padding-s"
            [routerLink]="['edit', template.id]"
          >
            Editar
          </app-trip-button>
        </app-location-items>
      }

      @if (templates.length === 0) {
        <app-no-templates-alert></app-no-templates-alert>
      }

      @if (templates.length > 0 && filtratedTemplates.length === 0) {
        <div class="no-results-container">
          <lucide-icon [img]="Search" size="70" class="no-results-icon" />
          <p class="no-results-text">No se encontraron plantillas que coincidan con tu búsqueda.</p>
        </div>
      }
    </div>
  </div>
</ion-content>
