/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

ion-content {
  --padding-top: calc(var(--ion-safe-area-top) + 2rem) !important;
  --padding-bottom: 5rem !important;
}

.text-base {
  font-size: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--ion-color-primary);
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--ion-color-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: var(--ion-color-light);
  font-size: 1.5rem;
  font-weight: 500;
}

input {
  color: var(--ion-color-light) !important;
  border: 1px solid var(--ion-color-dark-gray) !important;
  background: transparent !important;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem !important;
  box-shadow: none !important;
}

input::placeholder {
  color: var(--ion-color-light) !important;
  opacity: 0.5 !important;
}

input.error {
  border-color: var(--ion-color-danger);
}

input:focus {
  border-color: var(--ion-color-primary) !important;
  outline: none !important;
  box-shadow: 0 0 5px var(--ion-color-primary) !important;
}

.item-options-modal {
  --border-radius: 1.5rem;
}

lucide-icon {
  display: contents;
}

/* Toast theming */
ion-toast {
  // Hacer que se vaya 60px hacia arriba para que no tape el tab bar
  height: calc(100% - 60px) !important;
}

ion-toast.toast-success {
  --background: var(--ion-color-success-shade) !important;
  --color: var(--ion-color-light) !important;
}

ion-toast.toast-error {
  --background: var(--ion-color-danger-shade) !important;
  --color: var(--ion-color-light) !important;
}

ion-toast.toast-warning {
  --background: var(--ion-color-warning-shade) !important;
  --color: var(--ion-color-light) !important;
}

ion-toast.toast-info {
  --background: var(--ion-color-primary-shade) !important;
  --color: var(--ion-color-light) !important;
}

/* Change color */
.color-medium {
  color: var(--ion-color-medium) !important;
}

.color-medium-to-children * {
  color: var(--ion-color-medium) !important;
}

/* Change ionic components style */
ion-searchbar {
  padding: 0 !important;
}

/* Error modal */
ion-modal.error-modal-high {
  --modal-color: var(--ion-color-danger);
  --icon-color: white;
}

ion-modal.error-modal-low {
  --modal-color: var(--ion-color-warning);
  --icon-color: var(--ion-color-dark, #2d2d2f);
}

ion-modal.error-modal {
  --height: 260px;
  --width: 80%;
  --max-width: 400px;
  --border-radius: 0.5rem;
}

ion-modal.error-modal h2 {
  color: var(--modal-color);
}

ion-modal.error-modal ion-header {
  background: var(--modal-color);
  --color: white;
}

ion-modal.error-modal ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem;
  height: 100%;
}

ion-modal.error-modal ion-content::part(background) {
  height: 100px !important;
}
