/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

ion-content {
  --padding-top: calc(var(--ion-safe-area-top) + 2rem) !important;
  --padding-bottom: 5rem !important;
}

.text-base {
  font-size: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--ion-color-primary);
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--ion-color-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: var(--ion-color-light);
  font-size: 1.5rem;
  font-weight: 500;
}

input {
  color: var(--ion-color-light) !important;
  border: 1px solid var(--ion-color-dark-gray) !important;
  background: transparent !important;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem !important;
  box-shadow: none !important;
}

input::placeholder {
  color: var(--ion-color-light) !important;
  opacity: 0.5 !important;
}

input.error {
  border-color: var(--ion-color-danger);
}

input:focus {
  border-color: var(--ion-color-primary) !important;
  outline: none !important;
  box-shadow: 0 0 5px var(--ion-color-primary) !important;
}

.item-options-modal {
  --border-radius: 1.5rem;
}

lucide-icon {
  display: contents;
}

/* Change color */
.color-medium {
  color: var(--ion-color-medium) !important;
}

.color-medium-to-children * {
  color: var(--ion-color-medium) !important;
}

/* Change ionic components style */
ion-searchbar {
  padding: 0 !important;
}
