<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tabs/templates"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-title">
      @if (isEditMode) {
        Editar plantilla
      } @else {
        Crear plantilla
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <main>
    <div class="name-section">
      <input [(ngModel)]="name" placeholder="Nombre de la plantilla..." class="name-input" />

      @if (isEditMode) {
        <app-trip-button type="danger" [fill]="true" (click)="openDeleteTemplateAlert()">
          <lucide-icon [img]="Trash" size="20" />
        </app-trip-button>
      }
    </div>

    <div class="item-section">
      <h4 class="section-title">Agregar objetos</h4>
      @if (selectedItems.size === 0) {
        <div class="no-items-container">
          <lucide-icon [img]="shirtIcon" size="60" strokeWidth="1" class="no-items-icon" />
          <p class="no-items-text">Se ve un poco vacía... busca y agrega un objeto para empezar</p>
        </div>
      }
      <app-trip-button
        type="tertiary"
        id="open-modal"
        btnClass="flex center gap-2 padding-m"
        (click)="openSearchItemsModal()"
      >
        <lucide-icon [img]="searchIcon" />
        Buscar objetos
      </app-trip-button>
      <div class="items-container">
        @for (item of selectedItems.values(); track item.id) {
          <app-item-card-editable
            [item]="item"
            [quantity]="quantityByItemId.get(item.id) || 0"
            (quantityChange)="handleQuantityChange(item, $event)"
          />
        }
      </div>
    </div>
  </main>

  <app-trip-button
    [fill]="true"
    class="save-button"
    btnClass="flex center gap-2"
    (click)="handleSaveTemplate()"
  >
    @if (isEditMode) {
      <lucide-icon [img]="saveIcon" />
      Guardar cambios
    } @else {
      <lucide-icon [img]="plusIcon" />
      Crear plantilla
    }
  </app-trip-button>
</ion-content>

<app-search-items-modal
  [isOpen]="isSearchModalOpen"
  [selectedItems]="selectedItems"
  (itemSelected)="handleItemsSelected($event)"
  (itemDeselected)="handleItemDeselected($event)"
  (didDismiss)="closeSearchItemsModal()"
/>

<app-remove-item-alert
  [isAlertOpen]="isRemoveItemAlertOpen"
  (confirmed)="onConfirmRemoveItem($event)"
  (cancelled)="onCancelRemoveItem()"
/>

<app-delete-template-alert
  [isAlertOpen]="isDeleteTemplateAlertOpen"
  (confirmed)="onConfirmDeleteTemplate()"
  (cancelled)="onCancelDeleteTemplate()"
/>
