<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/manage-templates"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-title">Crear plantilla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <main>
    <input placeholder="Nombre de la plantilla..." class="name-input" />
    <div class="item-section">
      <h4 class="section-title">Agregar objetos</h4>
      <app-trip-button id="open-modal" btnClass="flex center gap-2">
        <lucide-icon [img]="Search" />
        Buscar objetos
      </app-trip-button>
      <div class="items-container">
        @for (item of selectedItems.values(); track item.id) {
          <app-item-card-editable
            [item]="item"
            [quantity]="quantityByItemId.get(item.id) || 0"
            (quantityChange)="handleQuantityChange(item, $event)"
          />
        }
      </div>
    </div>
  </main>

  <app-search-items-modal
    [selectedItems]="selectedItems"
    (itemSelected)="handleItemsSelected($event)"
    (itemDeselected)="handleItemDeselected($event)"
  />
</ion-content>

<app-remove-item-alert
  [isAlertOpen]="isRemoveItemAlertOpen"
  (confirmed)="onConfirmRemoveItem($event)"
  (cancelled)="onCancelRemoveItem()"
/>
